<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - Multivista</title>
    <link rel="stylesheet" href="~/Content/styles.css"/>
</head>
<body>

    <header> HEADER </header>

    @RenderBody()


    <footer>
        <p>FOOTER</p>
    </footer>

</body>
</html>